*.sw?
*.bak
.DS_Store
.vundle
.vim/bundle
.vim/plugged
.vim/autoload
.vim/credentials.vim
.vim/shada
.vim/.netrwhist
.config/fish/fishd.*
.config/fish/secret.fish
.config/fish/fish_history
.config/nvim/autoload
.config/nvim/plugged
.config/nvim/ftplugin/sql.vim
.config/nvim/.netrwhist
.config/Fritzing
.config/SoundTouch
.config/SoundTouchPersist
.config/gcloud
