*.sw?
*.bak
.DS_Store
.vundle
.vim/bundle
.vim/plugged
.vim/autoload
.vim/credentials.vim
.vim/shada
.config/fish/fishd.*
.config/fish/fish_history
.config/nvim/autoload
.config/nvim/plugged
.config/nvim/ftplugin/sql.vim
.config/Fritzing
powerline
